body{
    font-family: "Montserrat", sans-serif;
}

div.my-carousel-images{
    background-color: cadetblue;
    width:100%;
    height: 540px;
}

.my-carousel-images > .carousel-element{
    width: 100%;
    height: 100%;
}

.my-carousel-images .my-img-carousel{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.my-thumbnails{
    background-color: black;
    width:100%;
    height: 160px;
    display: flex;
}

div.my-thumbnails > .my-img-thub{
    width: calc(100% / 5);
    height: 100%;
    object-fit: cover;
    opacity: .5;
}

div.my-thumbnails > .my-img-thub.active{
    border: 4px solid rgb(235, 226, 226);
    opacity: 1;
}

div.my-previous,
div.my-next{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 5px;
    background-color: rgba(255, 255, 255, .5);
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

div.my-previous{
    left: 1rem;
}

div.my-next{
    right: 1rem;
}

div.my-previous > span::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f104";
    line-height: 30px;
}

div.my-next > span::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    line-height: 30px;
}